*{
    background-color: black;
    color: white;
}

#myH1{
    text-align: center;
    font-family: Helvetica;
}

#randLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}

.btnContainer{
    text-align: center;
}

#button{
    padding: 10px 20px;
    font-family: Helvetica;
    border-radius: 5px;
    background-color: skyblue;
    color: black;
    transition: background-color 0.25s;
}
#button:hover{
    background-color: teal;
    color: white;
}

.inp{
    text-align: center;
    padding: 20px;
    font-family: Helvetica;
    margin: 10px;
}

.input{
    padding: 10px;
}

.textbox{
    width: 60px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
}
.textbox:focus{
    border-color: none;
    outline: none;

}

